In [1]:
##Project part 2.2
country_codes = {'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}
country_codes

{'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}

In [2]:
len(country_codes)

3

In [3]:
if country_codes:
    print('country_codes is not empty')
else:
    print('country_codes is empty')

country_codes is not empty

In [4]:
country_codes.clear()
if country_codes:
    print('country_codes is not empty')
else:
    print('country_codes is empty')

country_codes is empty

In [6]:
states = {'KS': 'Kansas', 'MO': 'Missouri', 'NE': 'Nebraska'}
states

{'KS': 'Kansas', 'MO': 'Missouri', 'NE': 'Nebraska'}

In [8]:
##Project part 2.3
for postal, state, in states.items():
    print(f'{state} has a postal code of {postal}')

Kansas has a postal code of KS
Missouri has a postal code of MO
Nebraska has a postal code of NE

In [9]:
##Project part 2.4
roman_numerals = {'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 100}
roman_numerals['L'] = 50
roman_numerals['X'] = 10
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 10, 'L': 50}

In [10]:
del roman_numerals['III']
roman_numerals['III']

KeyError: 'III'

In [11]:
roman_numerals.get('V')

5

In [12]:
roman_numerals['x'] = 10
roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'X': 10, 'L': 50, 'x': 10}

In [13]:
months = {'January': 1, 'February': 2, 'March': 3}

for month_name in months.keys():
    print(month_name, end=' ')

January February March

In [14]:
months['May'] = 5
months

{'January': 1, 'February': 2, 'March': 3, 'May': 5}

In [15]:
months_view = months.keys()

for key in months_view:
    print(key, end=' ')

January February March May

In [16]:
roman_numerals = {'I': 1, 'II': 2, 'III': 3, 'V': 5}
list(roman_numerals.keys())

['I', 'II', 'III', 'V']

In [17]:
list(roman_numerals.values())

[1, 2, 3, 5]

In [18]:
list(roman_numerals.items())

[('I', 1), ('II', 2), ('III', 3), ('V', 5)]

In [20]:
country_capitals1 = {'Belgium': 'Brussels','Honduras': 'Tegucigalpa'}
country_capitals2 = {'Nepal': 'Kathmandu','Uruguay': 'Montevideo'}
country_capitals3 = {'Honduras': 'Tegucigalpa','Belgium': 'Brussels'}
country_capitals1 == country_capitals2

False

In [21]:
country_capitals1 == country_capitals3

True

In [22]:
country_capitals1 != country_capitals2

True

In [24]:
##Project part 2.6
"""Tokenizing a string and counting unique words."""

text = ('matt is a northwest bearcat from kansas '
        'once a bearcat always a bearcat')

word_counts = {}

# count occurrences of each unique word
for word in text.split(): #tokenizes by separating the words using the meothod's delimiter string argument; uses space if no argument provided
    if word in word_counts:
        word_counts[word] += 1 # update existing key-value pair
    else:
        word_counts[word] = 1 # insert new key-value pair
print(f'{"WORD":<12}COUNT')

for word, count in sorted(word_counts.items()):
    print(f'{word:<12}{count}')
    
print('\nNumber of unique words:', len(word_counts))

WORD        COUNT
a           3
always      1
bearcat     3
from        1
is          1
kansas      1
matt        1
northwest   1
once        1

Number of unique words: 9

In [27]:
##Project part 2.7
# Lyrics from K-State's alma mater (Matt's favorite team)
text = ( 'I know a spot that I love full well '
'Tis not in forest nor yet in dell '
'Ever it holds me with magic spell '
'I think of thee Alma Mater '

'K-S-U we will carry thy banner high '
'K-S-U long long may thy colors fly '
'Loyal to thee thy children will swell the cry '
'Hail Hail Hail Alma Mater ')

from collections import Counter
counter = Counter(text.split())
for word, count in sorted(counter.items()):
    print(f'{word:<12}{count}')

Alma        2
Ever        1
Hail        3
I           3
K-S-U       2
Loyal       1
Mater       2
Tis         1
a           1
banner      1
carry       1
children    1
colors      1
cry         1
dell        1
fly         1
forest      1
full        1
high        1
holds       1
in          2
it          1
know        1
long        2
love        1
magic       1
may         1
me          1
nor         1
not         1
of          1
spell       1
spot        1
swell       1
that        1
the         1
thee        2
think       1
thy         3
to          1
we          1
well        1
will        2
with        1
yet         1

In [28]:
##Project part 2.10
import random
numbers = [random.randrange(1, 6) for i in range(50)]
from collections import Counter
counter = Counter(numbers)
for value, count in sorted(counter.items()):
    print(f'{value:<4}{count}')

1   14
2   3
3   14
4   11
5   8

In [29]:
country_codes = {}
country_codes.update ({'South Africa': 'za'})
country_codes

{'South Africa': 'za'}

In [30]:
country_codes.update ({'Australia': 'ar'})
country_codes

{'South Africa': 'za', 'Australia': 'ar'}

In [31]:
country_codes.update ({'Australia': 'au'})
country_codes

{'South Africa': 'za', 'Australia': 'au'}

In [32]:
months2 = {number: name for name, number in months.items()}
months2

{1: 'January', 2: 'February', 3: 'March', 5: 'May'}

In [35]:
grades = {'Matt Goeckel': [98, 86, 74], 'Bobby Bearcat': [85, 96, 32]}
grades2 = {k: sum(v) / len(v) for k, v in grades.items()}
grades2

{'Matt Goeckel': 86.0, 'Bobby Bearcat': 71.0}

In [36]:
{number: number ** 3 for number in range(1, 6)}

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [37]:
#Project part 2.12
colors = {'red', 'orange', 'yellow', 'green', 'red', 'blue'}
len(colors)

5

In [38]:
'red' in colors

True

In [39]:
'purple' in colors

False

In [40]:
'purple' not in colors

True

In [42]:
for color in colors:
    print(color.upper(), end=' ')

YELLOW GREEN RED BLUE ORANGE

In [43]:
numbers = list(range(10)) + list(range(5))
set(numbers)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [44]:
set()

set()

In [46]:
text = 'to be or not to be that is the question'

uniquewords = set(text.split())

for word in sorted(uniquewords):
    print(word, end=' ')

be is not or question that the to

In [47]:
{1, 3, 5} == {3, 5, 1}

True

In [48]:
{1, 2, 5} < {2, 5, 1}

False

In [49]:
{1, 2, 5} < {2, 5, 1, 7}

True

In [50]:
{1, 2, 5} <= {2, 5, 1}

True

In [51]:
{1, 3, 5}.issubset({3, 5, 1})

True

In [52]:
{1, 2}.issubset({3, 5, 1})

False

In [54]:
{2, 5, 1, 7} > {1, 2, 5}

True

In [55]:
{2, 5, 1, 7} >= {1, 3, 5}

False

In [53]:
set('abc def ghi jkl mno').issuperset('hi mom')

True

In [56]:
{1, 3, 5} | {2, 3, 4}

{1, 2, 3, 4, 5}

In [57]:
{1, 3, 5}.union([20, 20, 3, 40, 40])

{1, 3, 5, 20, 40}

In [58]:
{1, 3, 5} & {2, 3, 4}
#{1, 3, 5}.intersection([1, 2, 2, 3, 3, 4, 4])

{3}

In [59]:
{1, 3, 5} - {2, 3, 4}
#{1, 3, 5, 7}.difference([2, 2, 3, 3, 4, 4])

{1, 5}

In [60]:
{1, 3, 5} ^ {2, 3, 4}
#{1, 3, 5, 7}.symmetric_difference([2, 2, 3, 3, 4, 4])

{1, 2, 4, 5}

In [61]:
{1, 3, 5}.isdisjoint({2, 4, 6})

True

In [62]:
{1, 3, 5}.isdisjoint({4, 6, 1})

False

In [63]:
{10, 20, 30} - {5, 10, 15, 20}

{30}

In [64]:
{10, 20, 30} ^ {5, 10, 15, 20}

{5, 15, 30}

In [65]:
{10, 20, 30} | {5, 10, 15, 20}

{5, 10, 15, 20, 30}

In [66]:
{10, 20, 30} & {5, 10, 15, 20}

{10, 20}

In [67]:
numbers = {1, 3, 5}
numbers |= {2, 3, 4}
numbers

{1, 2, 3, 4, 5}

In [68]:
numbers.update(range(10))
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [77]:
numbers.add(17)
numbers.add(3)
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 17}

In [78]:
numbers.remove(3)
numbers

{0, 1, 2, 4, 5, 6, 7, 8, 9, 17}

In [79]:
numbers.pop()

0

In [80]:
numbers.clear()
numbers

set()

In [81]:
numbers = [1, 2, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10, 10]
evens = {item for item in numbers if item % 2 == 0}
evens

{2, 4, 6, 8, 10}

In [82]:
print('Matt Goeckel, signing off')

Matt Goeckel, signing off